name: deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  Deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go toolchain
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"
          cache: true

      - name: Build (prod)
        run: |
          chmod +x scripts/buildprod.sh
          ./scripts/buildprod.sh
